# ====================================== 
# Ignora archivos de sistema y editores
# ======================================
.DS_Store
Thumbs.db
*.log

# =======================
# Reglas para Spring Boot
# =======================
# Carpetas de compilación de Maven/Gradle
/Backend/target/
/Backend/build/
/Backend/.gradle/
/Backend/.mvn/

# Dependencias empaquetadas
/Backend/*.jar
/Backend/*.war

# Archivos generados
/Backend/**/*.class
/Backend/*.iml
/Backend/*.ipr
/Backend/*.iws
/Backend/.idea/
/Backend/.settings/
/Backend/.project
/Backend/.classpath

# Logs y metadatos
/Backend/logs/
/Backend/*.log

# ==================
# Reglas para React
# ==================
# Dependencias
/Fronted/node_modules/

/Fronted/.pnp/
/Fronted/.pnp.js

# Salidas de build
/Fronted/build/
/Fronted/dist/

# Archivos de entorno
/Fronted/.env
/Fronted/.env.local
/Fronted/.env.development.local
/Fronted/.env.test.local
/Fronted/.env.production.local

# IDEs y editores
/Fronted/.cache/
/Fronted/.eslintcache
/Fronted/*.log

# ===================
# Reglas globales Git
# ===================
# Archivos comprimidos
*.zip
*.tar.gz
*.rar

# Certificados y claves
*.pem
*.key

# Archivos de usuario local de Git
/.idea/
/.vscode/
